body{

    position: absolute;
    text-align: center;
    color: black;
    padding-bottom: 50px;

}

.s1{

    font-weight:bold;
    font-size: 12px;
    color: black;
    background-color: lightgrey;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;

}

.s2{

    font-style:italic;
    font-size: 12px;
    color: black;
    background-color: lightgrey;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

.s3{

    text-decoration: underline;
    font-size: 12px;
    background-color: lightgrey;
    padding-top: 5px;
    padding-bottom: 5px;

}

.homebg{

    background-image: url(../Resume/Assets/bgimage2.jpg);
    background-size: cover;
    /* how do I make this darker? */
    
}

.c1 {
    text-align: center; /* Centers the container */
    background-color: lightgrey;
    padding-top: 5px;
    padding-bottom: 5px;
}

.c2 {
    list-style-type: disc; /* Ensures bullets are displayed */
    list-style-position: inside; /* Positions bullets inside the text block */
    margin: 0; /* Removes extra spacing around the list */
    padding: 0; /* Ensures consistent padding */
    display: block; /* Ensures elements are treated as block items */
    text-align: center; 
    background-color: lightgrey;
    padding-top: 5px;
    padding-bottom: 5px;
}

.c3 {
    margin-left: 0; /* Removes additional left margin on the list items */
    padding-top: 5px;
    padding-bottom: 5px;
}

a {

    color: white;
    text-decoration: none;

}

a:visited {

    color: lightgrey;
    text-decoration: none;

}

a:hover {

    color: white;
    text-decoration: underline;

}

h1{

    background-color: lightgrey;
    padding-top: 5px;
    padding-bottom: 5px;

}

h2{

    background-color: lightgrey;
    padding-top: 5px;
    padding-bottom: 5px;

}

h3{

    background-color: lightgrey;
    padding-top: 5px;
    padding-bottom: 5px;

}

h4{

    background-color: lightgrey;
    padding-top: 5px;
    padding-bottom: 5px;

}

h5{

    background-color: lightgrey;
    padding-top: 5px;
    padding-bottom: 5px;

}

p{

    background-color: lightgrey;
    padding-top: 5px;
    padding-bottom: 5px;

}